{% extends "layout.html" %}

{% block content %}


    <div class="container">
        <h4>Movies</h4>
        <h6>Watch Movies...</h6>
        <div class="section">
            <a class="waves-effect waves-light btn white grey-text">Hindi</a>
            <a class="waves-effect waves-light btn white grey-text">Telugu</a>
            <a class="waves-effect waves-light btn white grey-text">Tamil</a>
        </div>

        <div class="section">
        <div class="row">
        <!--   Icon Section   -->

            <div class="col s6 m4 l3">
            <a href="#">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="http://img.youtube.com/vi/AzSVRKCcHBY/mqdefault.jpg">
                    </div>
                    <div class="card-content">
                        <span class="grey-text text-darken-4">Card Title</span>
                    </div>
                </div>
            </a>
            </div>

            <div class="col s6 m4 l3">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="http://img.youtube.com/vi/AzSVRKCcHBY/mqdefault.jpg">
                    </div>
                    <div class="card-content">
                        <span class="grey-text text-darken-4">Card Title</span>
                    </div>
                </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="http://img.youtube.com/vi/AzSVRKCcHBY/mqdefault.jpg">
                    </div>
                    <div class="card-content">
                        <span class="grey-text text-darken-4">Card Title</span>
                    </div>
                </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="http://img.youtube.com/vi/AzSVRKCcHBY/mqdefault.jpg">
                    </div>
                    <div class="card-content">
                        <span class="grey-text text-darken-4">Card Title</span>
                    </div>
                </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="http://img.youtube.com/vi/AzSVRKCcHBY/mqdefault.jpg">
                    </div>
                    <div class="card-content">
                        <span class="grey-text text-darken-4">Card Title</span>
                    </div>
                </div>
            </div>

          </div>
        </div>
    </div>

{% endblock %}
