{% extends "layout.html" %}

{% block content %}


    <div class="container">
        <h4>Movies</h4>
        <div>
            <a class="waves-effect waves-light btn white grey-text">Hindi</a>
            <a class="waves-effect waves-light btn white grey-text">Telugu</a>
            <a class="waves-effect waves-light btn white grey-text">Tamil</a>
        </div>

        <div class="section">
            <h6>Recently Added:</h6>
        <div class="row">

        <!--   Icon Section   -->

            {% for movie in movies.items %}
            <div class="col s6 m4 l3">
            <a href="#">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="{{ movie.yt_thumbnail}}">
                    </div>
                    <div class="card-content" style="padding: 15px;">
                        <span class="grey-text text-darken-4">{{movie.title}}</span>
                    </div>
                </div>
            </a>
            </div>
            {% endfor %}


          </div>
        </div>
    </div>

{% endblock %}
