{% extends "layout.html" %}

{% block title %} navaras - Movies {% endblock %}

{% block content %}

    <div class="container">
        <h4>Movies</h4>
        <div>
            <a class="waves-effect btn white grey-text" href="{{url_for('hindi') }}">Hindi</a>
            <a class="waves-effect btn white grey-text" href="{{url_for('telugu', genre='all', page=1) }}">Telugu</a>
            <a class="waves-effect btn white grey-text" href="{{url_for('tamil')}}">Tamil</a>
        </div>

        <div class="section">
            <h5 style="padding-top:20px;">Recently Added:</h5>
        <div class="row">

        <!--   Icon Section   -->

            {% for movie in movies.items %}
            <div class="col s6 m4 l3">
            <a href="{{url_for('moviedetail', movie_id = movie.id) }}">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="{{ movie.yt_thumbnail}}">
                    </div>
                    <div class="card-content" style="padding: 15px;">
                        <span class="grey-text text-darken-4">{{movie.title | truncate(20, true)}}</span>
                    </div>
                </div>
            </a>
            </div>
            {% endfor %}

            <div class="col s12 m12 l12 center-align">
                <ul class="pagination">
                    {% if movies.has_prev: %}
                        <li class="waves-effect"><a href="{{ url_for('movies', page=movies.prev_num) }}"><i class="material-icons">chevron_left</i></a></li>
                    {% endif %}
                    <li><a>{{movies.page}}</a></li>
                    {% if movies.has_next: %}
                        <li class="waves-effect"><a href="{{ url_for('movies', page=movies.next_num) }}"><i class="material-icons">chevron_right</i></a></li>
                        <li><a>{{movies.pages}}</a></li>
                    {% endif %}

                </ul>
            </div>
          </div>
        </div>
    </div>

{% endblock %}
