{% extends "layout.html" %}

{% block content %}


    <div class="container">
        <h4>Telugu</h4>
        <div>
            {% for genre in genres: %}
            <a class="chip waves-effect" href="{{url_for('telugu', genre=genre.name, page=1) }}">{{genre.name}}</a>
            {% endfor %}
        </div>

        <div class="section">
            <h6>Recently Added:</h6>
        <div class="row">

        <!--   Icon Section   -->

            {% for movie in movies.items %}
            <div class="col s6 m4 l3">
            <a href="#">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="{{ movie.yt_thumbnail}}">
                    </div>
                    <div class="card-content" style="padding: 15px;">
                        <span class="grey-text text-darken-4">{{movie.title | truncate(20, true)}}</span>
                    </div>
                </div>
            </a>
            </div>
            {% endfor %}

            <div class="col s12 m12 l12 center-align">
                <ul class="pagination">
                    {% if movies.has_prev: %}
                        <li class="waves-effect"><a href="{{ url_for('telugu', genre='all', page=movies.prev_num) }}"><i class="material-icons">chevron_left</i></a></li>
                    {% endif %}
                    <li><a>{{movies.page}}</a></li>
                    {% if movies.has_next: %}
                        <li class="waves-effect"><a href="{{ url_for('telugu', genre='all', page=movies.next_num) }}"><i class="material-icons">chevron_right</i></a></li>
                        <li><a>{{movies.pages}}</a></li>
                    {% endif %}

                </ul>
            </div>
          </div>
        </div>
    </div>

{% endblock %}
